## SQL mini project

In [1]:
import pandas as pd
import sqlite3

In [2]:
%load_ext sql

In [4]:
%sql sqlite:///sqlite_db_pythonsqlite.db

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [5]:
%%sql
SELECT sub.facility, SUM(sub.revenue) AS total_revenue
FROM 
    (SELECT f.name AS facility,
            CASE 
                WHEN m.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost
            END AS revenue
        FROM Bookings AS b
        JOIN Facilities AS f ON b.facid = f.facid
        JOIN Members AS m ON b.memid = m.memid
    ) AS sub
GROUP BY sub.facility
HAVING total_revenue < 1000
ORDER BY total_revenue;

 * sqlite:///sqlite_db_pythonsqlite.db
Done.

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [6]:
%%sql
SELECT m1.surname || ', ' || m1.firstname AS member,
       m2.surname || ', ' || m2.firstname AS recommended_by
FROM Members AS m1
JOIN Members AS m2 ON m1.recommendedby = m2.memid
WHERE m1.recommendedby IS NOT NULL AND m1.recommendedby != ''
ORDER BY member;

 * sqlite:///sqlite_db_pythonsqlite.db
Done.

[('Bader, Florence', 'Stibbons, Ponder'),
 ('Baker, Anne', 'Stibbons, Ponder'),
 ('Baker, Timothy', 'Farrell, Jemima'),
 ('Boothe, Tim', 'Rownam, Tim'),
 ('Butters, Gerald', 'Smith, Darren'),
 ('Coplin, Joan', 'Baker, Timothy'),
 ('Crumpet, Erica', 'Smith, Tracy'),
 ('Dare, Nancy', 'Joplette, Janice'),
 ('Genting, Matthew', 'Butters, Gerald'),
 ('Hunt, John', 'Purview, Millicent'),
 ('Jones, David', 'Joplette, Janice'),
 ('Jones, Douglas', 'Jones, David'),
 ('Joplette, Janice', 'Smith, Darren'),
 ('Mackenzie, Anna', 'Smith, Darren'),
 ('Owen, Charles', 'Smith, Darren'),
 ('Pinker, David', 'Farrell, Jemima'),
 ('Purview, Millicent', 'Smith, Tracy'),
 ('Rumney, Henrietta', 'Genting, Matthew'),
 ('Sarwin, Ramnaresh', 'Bader, Florence'),
 ('Smith, Jack', 'Smith, Darren'),
 ('Stibbons, Ponder', 'Tracy, Burton'),
 ('Worthington-Smyth, Henry', 'Smith, Tracy')]

Q12: Find the facilities with their usage by member, but not guests

In [10]:
%%sql
SELECT f.name AS facility,
       m.surname || ', ' || m.firstname AS member,
       COUNT(b.bookid) AS used_by_member
FROM Bookings AS b
JOIN Facilities AS f ON b.facid = f.facid
JOIN Members AS m ON b.memid = m.memid
WHERE m.memid != 0
GROUP BY facility, member
ORDER BY facility, used_by_member DESC;

 * sqlite:///sqlite_db_pythonsqlite.db
Done.

[('Badminton Court', 'Smith, Darren', 132),
 ('Badminton Court', 'Smith, Tracy', 32),
 ('Badminton Court', 'Mackenzie, Anna', 30),
 ('Badminton Court', 'Butters, Gerald', 20),
 ('Badminton Court', 'Stibbons, Ponder', 16),
 ('Badminton Court', 'Smith, Jack', 12),
 ('Badminton Court', 'Boothe, Tim', 12),
 ('Badminton Court', 'Dare, Nancy', 10),
 ('Badminton Court', 'Baker, Anne', 10),
 ('Badminton Court', 'Bader, Florence', 9),
 ('Badminton Court', 'Jones, David', 8),
 ('Badminton Court', 'Sarwin, Ramnaresh', 7),
 ('Badminton Court', 'Pinker, David', 7),
 ('Badminton Court', 'Farrell, Jemima', 7),
 ('Badminton Court', 'Baker, Timothy', 7),
 ('Badminton Court', 'Owen, Charles', 6),
 ('Badminton Court', 'Worthington-Smyth, Henry', 4),
 ('Badminton Court', 'Rownam, Tim', 4),
 ('Badminton Court', 'Tracy, Burton', 2),
 ('Badminton Court', 'Purview, Millicent', 2),
 ('Badminton Court', 'Jones, Douglas', 2),
 ('Badminton Court', 'Hunt, John', 2),
 ('Badminton Court', 'Crumpet, Erica', 2),
 ('Badminton Court', 'Tupperware, Hyacinth', 1),
 ('Massage Room 1', 'Rownam, Tim', 80),
 ('Massage Room 1', 'Boothe, Tim', 36),
 ('Massage Room 1', 'Butters, Gerald', 32),
 ('Massage Room 1', 'Tracy, Burton', 31),
 ('Massage Room 1', 'Farrell, Jemima', 29),
 ('Massage Room 1', 'Smith, Darren', 28),
 ('Massage Room 1', 'Smith, Jack', 27),
 ('Massage Room 1', 'Genting, Matthew', 25),
 ('Massage Room 1', 'Baker, Timothy', 24),
 ('Massage Room 1', 'Stibbons, Ponder', 19),
 ('Massage Room 1', 'Jones, David', 19),
 ('Massage Room 1', 'Dare, Nancy', 19),
 ('Massage Room 1', 'Joplette, Janice', 12),
 ('Massage Room 1', 'Owen, Charles', 11),
 ('Massage Room 1', 'Sarwin, Ramnaresh', 8),
 ('Massage Room 1', 'Smith, Tracy', 6),
 ('Massage Room 1', 'Pinker, David', 3),
 ('Massage Room 1', 'Hunt, John', 3),
 ('Massage Room 1', 'Baker, Anne', 3),
 ('Massage Room 1', 'Crumpet, Erica', 2),
 ('Massage Room 1', 'Worthington-Smyth, Henry', 1),
 ('Massage Room 1', 'Tupperware, Hyacinth', 1),
 ('Massage Room 1', 'Mackenzie, Anna', 1),
 ('Massage Room 1', 'Coplin, Joan', 1),
 ('Massage Room 2', 'Dare, Nancy', 5),
 ('Massage Room 2', 'Jones, David', 4),
 ('Massage Room 2', 'Sarwin, Ramnaresh', 3),
 ('Massage Room 2', 'Rownam, Tim', 2),
 ('Massage Room 2', 'Owen, Charles', 2),
 ('Massage Room 2', 'Joplette, Janice', 2),
 ('Massage Room 2', 'Coplin, Joan', 2),
 ('Massage Room 2', 'Baker, Anne', 2),
 ('Massage Room 2', 'Bader, Florence', 2),
 ('Massage Room 2', 'Smith, Jack', 1),
 ('Massage Room 2', 'Genting, Matthew', 1),
 ('Massage Room 2', 'Butters, Gerald', 1),
 ('Pool Table', 'Rownam, Tim', 241),
 ('Pool Table', 'Baker, Timothy', 85),
 ('Pool Table', 'Mackenzie, Anna', 70),
 ('Pool Table', 'Smith, Tracy', 61),
 ('Pool Table', 'Worthington-Smyth, Henry', 33),
 ('Pool Table', 'Tracy, Burton', 30),
 ('Pool Table', 'Smith, Darren', 28),
 ('Pool Table', 'Joplette, Janice', 27),
 ('Pool Table', 'Farrell, David', 25),
 ('Pool Table', 'Boothe, Tim', 25),
 ('Pool Table', 'Bader, Florence', 23),
 ('Pool Table', 'Dare, Nancy', 19),
 ('Pool Table', 'Genting, Matthew', 18),
 ('Pool Table', 'Sarwin, Ramnaresh', 13),
 ('Pool Table', 'Stibbons, Ponder', 12),
 ('Pool Table', 'Baker, Anne', 12),
 ('Pool Table', 'Coplin, Joan', 11),
 ('Pool Table', 'Pinker, David', 9),
 ('Pool Table', 'Tupperware, Hyacinth', 8),
 ('Pool Table', 'Jones, David', 8),
 ('Pool Table', 'Smith, Jack', 7),
 ('Pool Table', 'Butters, Gerald', 6),
 ('Pool Table', 'Purview, Millicent', 5),
 ('Pool Table', 'Rumney, Henrietta', 3),
 ('Pool Table', 'Jones, Douglas', 2),
 ('Pool Table', 'Owen, Charles', 1),
 ('Pool Table', 'Farrell, Jemima', 1),
 ('Snooker Table', 'Joplette, Janice', 68),
 ('Snooker Table', 'Smith, Tracy', 45),
 ('Snooker Table', 'Boothe, Tim', 43),
 ('Snooker Table', 'Butters, Gerald', 34),
 ('Snooker Table', 'Bader, Florence', 33),
 ('Snooker Table', 'Dare, Nancy', 23),
 ('Snooker Table', 'Owen, Charles', 22),
 ('Snooker Table', 'Farrell, Jemima', 21),
 ('Snooker Table', 'Tracy, Burton', 20),
 ('Snooker Table', 'Stibbons, Ponder', 20),
 ('Snooker Table', 'Sarwin, Ramnaresh', 18),
 ('Snooker Table', 'Pinker, David', 16),
 ('Snooker Table', 'Rumney, Henrietta', 14),
 ('Snooker Table', 'Smith, Darren', 12),
 ('Snooker Table', 'Coplin, Joan', 10),
 ('Snooker Table', 'Mackenzie, Anna', 7),
 ('Snooker Table', 'Tupperware, Hyacinth', 5),
 ('Snooker Table', 'Smith, Jack', 5),
 ('Snooker Table', 'Jones, David', 2),
 ('Snooker Table', 'Purview, Millicent', 1),
 ('Snooker Table', 'Genting, Matthew', 1),
 ('Snooker Table', 'Farrell, David', 1),
 ('Squash Court', 'Baker, Anne', 49),
 ('Squash Court', 'Tracy, Burton', 35),
 ('Squash Court', 'Smith, Darren', 14),
 ('Squash Court', 'Joplette, Janice', 14),
 ('Squash Court', 'Boothe, Tim', 12),
 ('Squash Court', 'Smith, Jack', 9),
 ('Squash Court', 'Butters, Gerald', 9),
 ('Squash Court', 'Jones, David', 8),
 ('Squash Court', 'Farrell, Jemima', 8),
 ('Squash Court', 'Owen, Charles', 7),
 ('Squash Court', 'Smith, Tracy', 6),
 ('Squash Court', 'Baker, Timothy', 5),
 ('Squash Court', 'Pinker, David', 3),
 ('Squash Court', 'Stibbons, Ponder', 2),
 ('Squash Court', 'Sarwin, Ramnaresh', 2),
 ('Squash Court', 'Rumney, Henrietta', 2),
 ('Squash Court', 'Mackenzie, Anna', 2),
 ('Squash Court', 'Bader, Florence', 2),
 ('Squash Court', 'Tupperware, Hyacinth', 1),
 ('Squash Court', 'Purview, Millicent', 1),
 ('Squash Court', 'Jones, Douglas', 1),
 ('Squash Court', 'Hunt, John', 1),
 ('Squash Court', 'Farrell, David', 1),
 ('Squash Court', 'Coplin, Joan', 1),
 ('Table Tennis', 'Rownam, Tim', 69),
 ('Table Tennis', 'Bader, Florence', 42),
 ('Table Tennis', 'Smith, Tracy', 28),
 ('Table Tennis', 'Smith, Darren', 28),
 ('Table Tennis', 'Genting, Matthew', 26),
 ('Table Tennis', 'Tracy, Burton', 24),
 ('Table Tennis', 'Owen, Charles', 24),
 ('Table Tennis', 'Baker, Timothy', 24),
 ('Table Tennis', 'Coplin, Joan', 21),
 ('Table Tennis', 'Pinker, David', 17),
 ('Table Tennis', 'Mackenzie, Anna', 16),
 ('Table Tennis', 'Farrell, Jemima', 12),
 ('Table Tennis', 'Jones, David', 11),
 ('Table Tennis', 'Joplette, Janice', 9),
 ('Table Tennis', 'Purview, Millicent', 6),
 ('Table Tennis', 'Smith, Jack', 5),
 ('Table Tennis', 'Dare, Nancy', 5),
 ('Table Tennis', 'Boothe, Tim', 4),
 ('Table Tennis', 'Worthington-Smyth, Henry', 3),
 ('Table Tennis', 'Stibbons, Ponder', 3),
 ('Table Tennis', 'Sarwin, Ramnaresh', 3),
 ('Table Tennis', 'Crumpet, Erica', 2),
 ('Table Tennis', 'Hunt, John', 1),
 ('Table Tennis', 'Butters, Gerald', 1),
 ('Table Tennis', 'Baker, Anne', 1),
 ('Tennis Court 1', 'Butters, Gerald', 57),
 ('Tennis Court 1', 'Tracy, Burton', 31),
 ('Tennis Court 1', 'Smith, Tracy', 30),
 ('Tennis Court 1', 'Jones, David', 25),
 ('Tennis Court 1', 'Dare, Nancy', 25),
 ('Tennis Court 1', 'Smith, Jack', 22),
 ('Tennis Court 1', 'Joplette, Janice', 19),
 ('Tennis Court 1', 'Owen, Charles', 17),
 ('Tennis Court 1', 'Pinker, David', 16),
 ('Tennis Court 1', 'Baker, Timothy', 14),
 ('Tennis Court 1', 'Jones, Douglas', 9),
 ('Tennis Court 1', 'Coplin, Joan', 7),
 ('Tennis Court 1', 'Rownam, Tim', 6),
 ('Tennis Court 1', 'Farrell, David', 6),
 ('Tennis Court 1', 'Baker, Anne', 6),
 ('Tennis Court 1', 'Sarwin, Ramnaresh', 5),
 ('Tennis Court 1', 'Hunt, John', 4),
 ('Tennis Court 1', 'Boothe, Tim', 4),
 ('Tennis Court 1', 'Stibbons, Ponder', 1),
 ('Tennis Court 1', 'Genting, Matthew', 1),
 ('Tennis Court 1', 'Farrell, Jemima', 1),
 ('Tennis Court 1', 'Crumpet, Erica', 1),
 ('Tennis Court 1', 'Bader, Florence', 1),
 ('Tennis Court 2', 'Boothe, Tim', 52),
 ('Tennis Court 2', 'Owen, Charles', 41),
 ('Tennis Court 2', 'Baker, Anne', 35),
 ('Tennis Court 2', 'Stibbons, Ponder', 31),
 ('Tennis Court 2', 'Jones, David', 30),
 ('Tennis Court 2', 'Smith, Darren', 19),
 ('Tennis Court 2', 'Sarwin, Ramnaresh', 11),
 ('Tennis Court 2', 'Dare, Nancy', 11),
 ('Tennis Court 2', 'Joplette, Janice', 8),
 ('Tennis Court 2', 'Bader, Florence', 8),
 ('Tennis Court 2', 'Baker, Timothy', 7),
 ('Tennis Court 2', 'Rownam, Tim', 6),
 ('Tennis Court 2', 'Hunt, John', 4),
 ('Tennis Court 2', 'Tracy, Burton', 3),
 ('Tennis Court 2', 'Butters, Gerald', 3),
 ('Tennis Court 2', 'Smith, Tracy', 2),
 ('Tennis Court 2', 'Smith, Jack', 1),
 ('Tennis Court 2', 'Rumney, Henrietta', 1),
 ('Tennis Court 2', 'Purview, Millicent', 1),
 ('Tennis Court 2', 'Farrell, Jemima', 1),
 ('Tennis Court 2', 'Farrell, David', 1)]

Q13: Find the facilities usage by month, but not guests

In [9]:
%%sql
SELECT f.name AS facility,
       strftime('%Y-%m', b.starttime) AS month,
       COUNT(b.bookid) AS used_by_member
FROM Bookings AS b
JOIN Facilities AS f ON b.facid = f.facid
JOIN Members AS m ON b.memid = m.memid
WHERE m.memid != 0
GROUP BY facility, month
ORDER BY facility, month;

 * sqlite:///sqlite_db_pythonsqlite.db
Done.

[('Badminton Court', '2012-07', 51),
 ('Badminton Court', '2012-08', 132),
 ('Badminton Court', '2012-09', 161),
 ('Massage Room 1', '2012-07', 77),
 ('Massage Room 1', '2012-08', 153),
 ('Massage Room 1', '2012-09', 191),
 ('Massage Room 2', '2012-07', 4),
 ('Massage Room 2', '2012-08', 9),
 ('Massage Room 2', '2012-09', 14),
 ('Pool Table', '2012-07', 103),
 ('Pool Table', '2012-08', 272),
 ('Pool Table', '2012-09', 408),
 ('Snooker Table', '2012-07', 68),
 ('Snooker Table', '2012-08', 154),
 ('Snooker Table', '2012-09', 199),
 ('Squash Court', '2012-07', 23),
 ('Squash Court', '2012-08', 85),
 ('Squash Court', '2012-09', 87),
 ('Table Tennis', '2012-07', 48),
 ('Table Tennis', '2012-08', 143),
 ('Table Tennis', '2012-09', 194),
 ('Tennis Court 1', '2012-07', 65),
 ('Tennis Court 1', '2012-08', 111),
 ('Tennis Court 1', '2012-09', 132),
 ('Tennis Court 2', '2012-07', 41),
 ('Tennis Court 2', '2012-08', 109),
 ('Tennis Court 2', '2012-09', 126)]